node_modules
backend/node_modules
frontend/node_modules
frontend/build
frontend/.git_old
frontend/.env
backend/.env
.env
style_heaven_flutter/build/
style_heaven_flutter/.dart_tool/
style_heaven_flutter/.flutter-plugins-dependencies
